@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}




<!-- about part start-->
<section class="about_part ">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-4 col-lg-5 offset-lg-1">
                <div class="about_img">
                    <img src="~/Image/AboutPageImage/@ViewBag.image.Imagepath" alt="">
                </div>
            </div>
            <div class="col-sm-8 col-lg-4">
                <div class="about_text">
                    <h5>@ViewBag.h5.Content</h5>
                    <h2>
                        @ViewBag.h2.Content
                    </h2>
                    <h4>@ViewBag.h4.Content</h4>
                    <p>
                        @ViewBag.p.Content
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about part end-->