@{
    ViewData["Title"] = "Access Denied";
}

<div class="text-center">
    <h1>403 - Access Denied</h1>
    <p>You do not have permission to view this page.</p>
    <p>If you believe this is a mistake, please contact the support team.</p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Return Home</a>
</div>