
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}



<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Recipes</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->


<section class="exclusive_item_part blog_item_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <p>Popular Dishes</p>
                    <h2>Our Exclusive Items</h2>
                </div>
            </div>
        </div>
        <div class="row mb-5">

            <div class="col-sm-6 col-lg-4">
                <p>
                    This chef has no recipes.
                </p>
            </div>

        </div>
    </div>
</section>
