@model IEnumerable<Recipe>


@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}



<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Recipes</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->


<section class=" blog_item_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="section_tittle">
                    <p>Popular Dishes</p>
                    <h2>Our Exclusive Items</h2>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-lg-4 mb-5 mt-5">
                    <div class="single_blog_item">
                        <div class="single_blog_img">
                            <img src="~/Image/RecipeImage/@item.Imagepath" alt="" width="350" height="350">
                        </div>
                        <div class="single_blog_text">
                            <h3>@item.Recipename</h3>
                            <p>@item.Recipedescription</p>
                            <a asp-controller="Customer" asp-action="VisaCards" asp-route-id="@item.Recipeid" class="btn_3">Buy $@item.Price<img src="~/Home/img/icon/left_2.svg" alt=""></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
