@{
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";

    
}
@model RegisterViewModel




<div class="container d-flex align-items-center justify-content-center " style="min-height: 100vh">
    <div class="d-flex flex-column justify-content-between col-8">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card card-default mb-0">
                    <div class="card-header pb-0">
                        <div class="app-brand w-100 d-flex justify-content-center border-bottom-0">
                            <a class="w-auto pl-0" asp-controller="Home" asp-action="Index">
                                <img src="~/Image/HomePageImage/logo.svg" alt="Mono" width="70" height="70">
                                <span class="brand-name text-dark"></span>
                            </a>
                        </div>
                    </div>
                    <div class="card-body px-5 pb-5 pt-0">
                        <h4 class="text-dark text-center mb-5">Sign Up</h4>
                        <form asp-action="SignUp" enctype="multipart/form-data" method="POST">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group col-md-12 mb-4">
                                        <input asp-for="Firstname" class="form-control input-lg" placeholder="First Name" required>
                                        <span asp-validation-for="Firstname" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group col-md-12 mb-4">
                                        <input asp-for="Lastname" class="form-control input-lg" placeholder="Last Name" required>
                                        <span asp-validation-for="Lastname" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                           


                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group col-md-12 mb-4">
                                        <input asp-for="Username" class="form-control input-lg" placeholder="Username" required>
                                        <span asp-validation-for="Username" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group col-md-12 mb-4">
                                        <input asp-for="Phone" class="form-control input-lg" placeholder="Phone Number" required>
                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            


                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group col-md-12 mb-4">
                                        <input asp-for="Email" class="form-control input-lg" placeholder="Example@gmail.com" required>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group col-md-12 mb-4">
                                        <input asp-for="Bithdate" class="form-control input-lg" placeholder="Birth Date" required>
                                        <span asp-validation-for="Bithdate" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                          


                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group col-md-12 mb-4">

                                        <select asp-for="Genderid" class="form-control input-lg" asp-items="ViewBag.Genderid" required>
                                            <option value="default" selected>Gender</option>


                                        </select>
                                        <span asp-validation-for="Genderid" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group col-md-12 ">
                                        <input asp-for="Upassword" class="form-control input-lg" placeholder="Password" required>
                                        <span asp-validation-for="Upassword" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            

                            <div asp-validation-summary="ModelOnly" class="text-danger"><span></span></div>

                            <div >
                                <input type="submit" name="signup" id="signup" class="btn btn-primary btn-pill mb-4" value="Register" />
                            </div>

                            <p>
                                Already have an account?
                                <a class="text-blue" asp-action="Login">Sign in</a>
                            </p>
    
                            </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>