@{
    Layout = "~/Views/Shared/_ChefLayout.cshtml";
}
<div class="row comingsoon-wrapper">
    <div class="col-lg-8 col-xl-5">

        <div class="app-brand w-100 d-flex justify-content-center border-bottom-0">
           
                <img src="~/Image/HomePageImage/logo.svg" alt="Mono" width="200" height="200">
                
        </div>
        <div class="comingsoon-header text-center">
             

            <h1>You do not have permission.</h1>
            <p>Please wait until you are accepted</p>
        </div>

        <div class="simple_timer"></div>
        <div class="align-content-center">
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary " >Back to home</a>
        </div>
    </div>
</div>